$white:					#fff;
$gray1: 				#d3d3d3; // light text
$gray2: 				#4f585b; // left nav text
$gray5:					#4c4c4c; // medium text
$gray7: 				#868686; // default text
$gray9: 				#222; // default text
$green: 				#2eb398; // upload button background color


$text-default:			$gray9;
$text-medium:				$gray5;
$text-light:				$gray1;

$sitewidth:					1005px;