<div id="upload">
</div>
<ul id="main_left_nav">
	<h3>Main</h3>
	<li class="overview"><a href="#">Overview</a></li>
	<li class="activity"><a href="#">Activity</a></li>
	<li class="dearest"><a href="#">Dearest</a></li>
	<li class="folders"><a href="#">Folders</a></li>
</ul>
<ul id="filter_left_nav">
	<h3>Filter</h3>
	<li class="images"><a href="#">Images</a></li>
	<li class="audio"><a href="#">Audio</a></li>
	<li class="video"><a href="#">Video</a></li>
	<li class="notes"><a href="#">Notes</a></li>
	<li class="links"><a href="#">Links</a></li>
	<li class="files"><a href="#">Files</a></li>
</ul>
<div id="size">
	50 GB / 100 GB <span class="add_gb">+</a>
	<div id="progress_holder">
		<div id="progress_bar">
		</div>
	</div>
</div>